.vscode-body {
  width: 100%;
  text-align: left;
  padding: 0;
  margin-top: 5px;
  font-family: -apple-system, BlinkMacSystemFont, PingFang-SC-Regular, Hiragino Sans GB, Noto Sans CJK SC, Sarasa Gothic SC, Microsoft Yahei, Arial, sans-serif;
  font-size: 16px;
  color: #4c4e4d;
  line-height: 30px;
  font-weight: 400;
  word-break: normal;
  word-wrap: break-word
}

@media screen and (max-width:479px) {
  .vscode-body {
    color: rgba(76, 78, 77, .8);
    font-style: normal;
    font-weight: 400;
    line-height: 180%
  }
}

.vscode-body .row {
  position: relative;
  width: 600px;
  padding: 1%;
  margin: 5px auto 1.2em auto;
  display: table;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: -10px
}

@media screen and (max-width:767px) {
  .vscode-body .row {
    width: 100%;
    left: 0
  }
}

.vscode-body .row img {
  max-width: 100%
}

.vscode-body .row .grid3,
.vscode-body .row .grid4,
.vscode-body .row .grid6 {
  text-align: center;
  float: left;
  margin: 1%
}

.vscode-body .row .grid3 {
  width: 23%
}

.vscode-body .row .grid4 {
  width: 31.3%;
  font-size: .85em
}

.vscode-body .row .grid6 {
  width: 48%
}

.vscode-body a {
  text-decoration: none;
  border-bottom: 1px solid #d71a1b;
  color: #292525;
  -webkit-transition: all .2s;
  transition: all .2s
}

.vscode-body a:focus,
.vscode-body a:hover {
  border-bottom: 2px solid #d71a1b
}

.vscode-body a img {
  display: block
}

.vscode-body sup {
  color: #fff;
  background-color: #655e5e;
  border-radius: 2px;
  font-size: 10px;
  line-height: 1;
  padding: 1px 5px;
  top: -.1em;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
  cursor: help;
  position: relative
}

.vscode-body u {
  text-decoration: none;
  border-bottom: 1px solid #655e5e
}

.vscode-body pre {
  background-color: #f5f5f5;
  padding: 20px;
  white-space: pre-wrap;
  word-break: break-all
}

@media screen and (max-width:479px) {
  .vscode-body pre {
    padding: 12px
  }
}

.vscode-body pre p {
  margin: 0;
  line-height: 22px
}

.vscode-body pre code {
  border: none;
  font-weight: 400 !important;
  background: none;
  display: block;
  border-radius: 0
}

.vscode-body code,
.vscode-body pre code {
  font-size: 14px;
  font-family: Source Code Pro, Consolas, Liberation Mono, Menlo, Courier, monospace
}

.vscode-body code {
  background-color: #f4f4f4;
  display: inline-block;
  word-break: break-all;
  padding: 0 5px
}

@media screen and (max-width:479px) {
  .vscode-body code {
    padding: 0
  }
}

.vscode-body hr {
  margin: 20px auto;
  border: none;
  border-top: 1px solid #e5e5e5
}

@media screen and (max-width:479px) {
  .vscode-body hr {
    width: 327px;
    height: 1px
  }
}

.vscode-body ol,
.vscode-body ul {
  padding-left: 36px;
  padding-right: 36px;
  margin: 40px auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

@media screen and (max-width:479px) {

  .vscode-body ol,
  .vscode-body ul {
    margin: 24px auto 32px auto;
    padding-left: 50px;
    padding-right: 0
  }
}

.vscode-body ol ol,
.vscode-body ol ul,
.vscode-body ul ol,
.vscode-body ul ul {
  border-left: none
}

.vscode-body ul {
  list-style-type: disc
}

.vscode-body ol {
  list-style-type: decimal
}

.vscode-body ol li,
.vscode-body ul li {
  margin: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  color: #4c4e4d
}

@media screen and (max-width:479px) {

  .vscode-body ol li,
  .vscode-body ul li {
    line-height: 160%
  }
}

.vscode-body blockquote {
  position: relative;
  display: block;
  margin: 37px auto;
  border-left: 2px solid #fd281a;
  font-style: normal;
  text-align: left;
  color: #8e8787;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding: 0 12px
}

@media screen and (max-width:479px) {
  .vscode-body blockquote {
    margin: 37px auto
  }
}

.vscode-body blockquote:before {
  content: "";
  width: 11.2px;
  height: 8.4px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAARCAYAAADHeGwwAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFBSURBVHgB7ZQ/UoNAFMa/t6BhYiF2ig2d2HGE5AYeIZwgeoLEk2S8QTxBcgNbxopGTReqmCjsk2UmCMifJDPOWPgVDLvzvd/7WN4s8Mui8gbbpgmjO2SGS5uVR0EYtkE+nfMemG4E0anmv3q1Dfj6YihBYzBMtZaQ/SN/Ma8Dp2E6JyNJfLvdSxoUmHpmdqyRZIyxh7jTnTGx2+QR6hE5lwOJHJwQJuv7xvRJICbk4BwIyEHZl35OfGU9ITMrI/fJXwS1cNs2pfGxzCCEKb1X/y+hzMglkWCvCZ4GOt70CilZ3tUNg4iMdeEMm47lu0qY21cGz5sC6eWN2LEmP3igBPLyUAUgJreqhiU/6s9vU1IzLCBmaFF+ZNVQEHjSViPWqzOBHUXQbOypyDDcnRscqv8Gf6ABx1rrdaykiWiJA/QFHEl+W66g4YEAAAAASUVORK5CYII=") no-repeat;
  display: block;
  background-size: contain;
  line-height: 160%;
  margin-left: 4px;
  margin-bottom: 7.2px
}

.vscode-body blockquote p {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%
}

.vscode-body blockquote p:last-child {
  margin-bottom: 0
}

@media screen and (max-width:479px) {
  .vscode-body blockquote {
    margin: 32px auto;
    font-size: 16px
  }

  .vscode-body blockquote,
  .vscode-body blockquote p {
    font-weight: 500;
    line-height: 160%
  }
}

.vscode-body blockquote a {
  color: #8e8787;
  border-bottom: 1px solid #8e8787
}

.vscode-body img {
  max-width: 100%;
  position: relative
}

@media screen and (max-width:767px) {
  .vscode-body img {
    max-width: 100%
  }
}

.vscode-body p {
  margin: 0 0 20px 0;
  line-height: 30px
}

@media screen and (max-width:479px) {
  .vscode-body p {
    line-height: 180%
  }
}

.vscode-body del,
.vscode-body strike {
  text-decoration: line-through
}

.vscode-body b,
.vscode-body strong {
  font-weight: 700
}

.vscode-body em,
.vscode-body i {
  font-style: italic
}

.vscode-body h1,
.vscode-body h2,
.vscode-body h3,
.vscode-body h4,
.vscode-body h5,
.vscode-body h6 {
  margin: 30px 0 10px 0;
  color: #292525;
  line-height: 150%;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Noto Sans CJK SC, Sarasa Gothic SC, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif
}

.vscode-body h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 140%;
  margin-top: 60px;
  margin-bottom: 26px
}

@media screen and (max-width:479px) {
  .vscode-body h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 140%
  }
}

.vscode-body h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 26px;
  line-height: 140%
}

.vscode-body h2 .titleNumber {
  color: #d71a1b;
  margin-right: 8px
}

@media screen and (max-width:479px) {
  .vscode-body h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    margin-top: 56px;
    margin-bottom: 24px
  }
}

.vscode-body h3 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 16px;
  line-height: 140%
}

@media screen and (max-width:479px) {
  .vscode-body h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    margin-top: 48px;
    margin-bottom: 22px
  }
}

.vscode-body h4 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 140%
}

@media screen and (max-width:479px) {
  .vscode-body h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    margin-top: 28px;
    margin-bottom: 16px
  }
}

.vscode-body h5 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 140%
}

@media screen and (max-width:479px) {
  .vscode-body h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 180%;
    margin-top: 22px;
    margin-bottom: 12px
  }
}

.vscode-body h6 {
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 8px;
  line-height: 140%
}

@media screen and (max-width:479px) {
  .vscode-body h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    margin-top: 22px;
    margin-bottom: 12px
  }
}

.vscode-body:focus {
  outline: none
}

.vscode-body .ss-app-card h4 {
  margin: 0
}

.vscode-body iframe {
  width: 100%;
  min-height: 500px
}

@media screen and (max-width:767px) {
  .vscode-body iframe {
    min-height: 300px
  }
}

.vscode-body table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto
}

.vscode-body table tr {
  background-color: #fff
}

.vscode-body table tr:hover>td {
  background-color: #f5f5f5;
  background-clip: padding-box
}

.vscode-body table td,
.vscode-body table th {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
  height: 40px;
  min-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 0 18px
}

.vscode-body table th {
  background-color: #f5f5f5
}

.vscode-body .table-responsive {
  overflow: auto
}

.vscode-body .md_block .only_img_before.md_line_end {
  display: block;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 14px;
  color: #8e8787;
  letter-spacing: 0
}

.vscode-body .md_block .md_line_with_image {
  display: block;
  width: 100%;
  text-align: center
}
